/* Style pour les éléments avec l'ID #contact-container */
#contact-container {
    margin: 0 auto; /* Centrer horizontalement */
    max-width: 1320px; /* Définir une largeur maximale */
    height: 846px;
}

@media only screen and (max-width: 900px) {
    #contact-container {height: 700px}
}


/* Style pour l'élément avec l'ID #inputs */
#inputs {
    max-width: 900px; /* Définir une largeur maximale */
    display: flex; /* Utiliser un affichage en ligne */
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
    margin: 1rem;
}

.error {
    color: #10002b;
}

/* Style pour l'input lorsqu'il est en hover */
.input .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #10002b; /* Couleur de la bordure */
}

/* Style pour l'input lorsqu'il est en focus */
.input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #10002b; /* Couleur de la bordure */
}

/* Style pour le label de l'input lorsqu'il est en focus */
.input .MuiInputLabel-root.Mui-focused {
    color: #10002b; /* Couleur du texte */
    border-color: #10002b; /* Couleur de la bordure */
}