#root {
  margin: "auto";
  /* padding: 2rem; */
  text-align: center;
}

body {
  margin: 0;
}

@font-face{
  font-family: Audiowide-Regular;
  src : url(./Font/Audiowide-Regular.ttf);
}

.audiowide-regular {
  font-family: "Audiowide-Regular";
  font-weight: bolder;
}