#root {
  margin: "auto";
  /* padding: 2rem; */
  text-align: center;
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #10002b;
}

@font-face{
  font-family: Audiowide-Regular;
  src : url(./Font/Audiowide-Regular.ttf);
}

.audiowide-regular {
  font-family: "Audiowide-Regular";
  font-weight: bolder;
}